body {
    font-family: Arial, sans-serif;
    background: linear-gradient(  hsl(185, 87%, 38%));
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 40px auto;
    background: #fff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
fieldset {
    border: 2px solid #4CAF50;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    color: #4CAF50;
    padding: 0 10px;
}
label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.gender, .hobbies {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.terms {
    margin: 15px 0;
}
button {
    background: #4CAF50;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

button::content{
    background: #45a049;
}

button[type="reset"] {
    background: #f44336;
}
